body {
    margin: 0;
}

body > section {
  display: none;
}

body[data-pane="main"]   > #pane-main   { display: block; }
body[data-pane="browse"] > #pane-browse { display: block; }
body[data-pane="upload"] > #pane-upload { display: block; }
body[data-pane="image"]  > #pane-image  { display: block; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header > h1 {
  margin: 0;
}

#install {
    display: none;
}

#install.show-install {
    display: inline-block;
}

#online-status {
    left: 10px;
    top: 2rem;
    width: 10px;
    height: 10px;
    color: #fff;
    background: #008000;
    border-radius: 5px;
}

#online-status.offline {
    background: #ff0000;
}

#preview {
  display: none;
}
